@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Lexend:wght@100..900&display=swap");
@import "tailwindcss";
@theme {
  --color-bg: rgb(255 255 255);
  --color-text: rgb(15 15 15);
  --color-primary: rgb(255 122 0);
  --color-mainBg: rgb(36, 27, 16);
  --font-lexend: "lexend", sans-serif;
}

.header {
  @apply fixed top-0 z-50 w-full border-b border-[#493622] bg-mainBg backdrop-blur-sm px-5 md:px-10 lg:px-40 flex justify-around py-3;
}

.navigation {
  @apply flex justify-around items-center flex-row gap-5;
}

.heroSection {
  @apply absolute inset-0 w-full h-full min-h-screen
  bg-cover bg-center  bg-no-repeat z-0 bg-[center-65%]
  bg-[linear-gradient(rgba(35,26,16,0.4),rgba(35,26,16,0.95)),url('/public/heroBg.png')];
}

